*{
  margin: 0;
  padding: 0;
}

body{
  background: #fff;
  background-image: linear-gradient(135deg, #E3FDF5 10%, #FFE6FA 100%);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.box {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.55);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.4px);
-webkit-backdrop-filter: blur(2.4px);
border: 1px solid rgba(255, 255, 255, 0.37);
width: 29rem;
height: 29rem;
padding: 3rem 4rem;
}

.txt{
  font-size: 3.5rem;
  font-weight: 900;
  color: #000;
  margin-bottom: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  padding: 0.5rem 7.5rem;
  
}

.input textarea{
  width: 25rem;
  height: 15rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  outline: none;  
  padding: 1.5rem 2rem;
  resize: none;
}

input placeholder{
  color : black;
}

.row{
  display: flex;
  align-items: center;
}
.btn{
  background: #000;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  cursor: pointer;
  margin-left: 3.5rem;
  outline: none;
  width: 10rem;
  height: 3.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
